<!DOCTYPE html>
<html ng-app="GuildMockup" lang="en">
<head>
<title>INVESTCUBE</title>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	  
	  <!--styling libraries-->
	  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="guild/libraries/bootstrap/dist/css/bootstrap.min.css"/>
	  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet"> 
	  <link rel="stylesheet" href="guild/libraries/font-awesome-4.7.0/css/font-awesome.min.css">
	  
	  <!--External Style Sheet-->
	  <link rel="stylesheet" href="guild/assets/css/style.css"/>
	  
	  <!-- AngularJS -->
	  <script src="guild/libraries/angular/angular.min.js"></script>
	  <script src="guild/libraries/angular-ui-router/angular-ui-router.min.js"></script>
	  <script src="guild/libraries/ui-bootstrap-tpls.js"></script>
	  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

	  <!--Modules-->
	  <script src="guild//app.js"></script>

	  <!--Artifacts-->
	  <script src="guild/config.js"></script>
	  <script src="guild/components/home/home.controller.js"></script>
	  <script src="guild/components/team/team.controller.js"></script>
	  <script src="guild/components/about/about.controller.js"></script>
	  <script src="guild/components/portfolio/portfolio.controller.js"></script>
	  <script src="guild/components/contact/contact.controller.js"></script>

</head>

<body class="container-fluid">
	<div ui-view></div>
</body>

</html>

<!--<div class="Home-Page" >

		<div class="inner-content">
			<div class="row" style="margin-right:0px;">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<span>INVESTCUBE</span>
						<div class="SidebarElements">
							<div class="tab">
								<button class="tablinks">London</button>
								<button class="tablinks">Paris</button>
								<button class="tablinks">Tokyo</button>
							</div>
						</div>
				</div>
			</div>		
		</div>

		<div ng-show="vm.value">
			<div class="label-name">
				<label class="labeltype-name">{{vm.labTypeName}}</label>
			</div>
			<div class="row" style="margin-right:0px;" >
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 2% 15%;">
					<div ng-repeat="lab in vm.tileValue track by $index" style="display:inline-block;" ui-sref="LabDetails({labId: lab.id})">
						<div id="box_{{$index}}">
							<span id="divelement_{{$index}}" ng-mouseover="vm.hoverIn($index)" ng-mouseout="vm.hoverOut()" class="square" ng-class={'up-lab':lab.status_val==true,'down-lab':lab.status_val==false}>
							<div><span class="splash-labName">{{lab.data.name}}<br/></span></div>
							<div><img class="serverImg" ng-if="lab.status_val==true" src="../app/assets/images/ServerUpIcon.png"></img></div>
							<div><img class="serverImg" ng-if="lab.status_val==false" src="../app/assets/images/ServerDownIcon.png"></img></div>
								
								<div ng-show="vm.hoverEdit == $index" class="slide-hover" ng-class={'up-lab':lab.status_val==true,'down-lab':lab.status_val==false}>
									<span class="labName">{{lab.data.name}}<br/></span>
									<div class="hoverImage" align="center"><img ng-if="lab.status_val==true" src="../app/assets/images/ServerUpIcon.png"></img></div>
									<div align="center"><img ng-if="lab.status_val==false" src="../app/assets/images/ServerDownIcon.png"></div><br/>
									<div align="center"><span ng-if="lab.status_val==true" class="activeValue">10 DAYS UP</span><span ng-if="lab.status_val==false" class="activeValue">10 DAYS DOWN</span></div>
									<div show-time-chart class="statusBarProgressData" start-date-val="04-04-2017" end-date-val="06-24-2017"></div>
										<span class="labDetails" align="left">
										Start Date: 04-04-2017<br/> <!--{{lab.data.startDate}} This value should be appended in get Labs API
										End Date: 06-24-2017<br/> <!--{{lab.data.endDate}} This value should be appended in get Labs API
										User: {{lab.data.tenant}}
										</span>
								</div>

							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.noData">
			<div class="label-name">
				<label class="labeltype-name">{{vm.labTypeName}} -- No Data Available</label>
			</div>
		</div>	
		
</div>

<!--cg-busy="{promise:myPromise,message:'Loading details from server',templateUrl:'../app/loadingSpinner/spinner.html',backdrop:false,delay:300,minDuration:700}"-->

<!--<div id="mySpinner">
	<div class="LoadingSpinnerText">Loading data from server...</div>
    <div class="ajax-loader"><img src="../app/assets/images/Loading_icon2.gif"/><div>
</div>-->




