.container{
    margin-right: 0;
}

.RestTemplate {
    padding-top: 8%;
    color:#5c0099;
}



div.tab {
    
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
}

div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    /*padding: 22px 16px;*/
	padding-top: 22px;
	padding-bottom: 22px;
    width: 100%;
    border: none;
    outline: none;

    cursor: pointer;
    transition: 0.3s;
}

div.tab button:hover {
    /*background-color: #ddd;*/
	fill-color: blue;
	color: purple;
	border-right: 3px;
	border-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-style: solid;
	border-color: purple;
	font-size: 18px;
}

.tablinks:active {
	color: purple;
	border-right: 3px;
	border-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-style: solid;
	border-color: purple;
	font-size: 18px;
}

.tablinks:visited {
    color: purple;
    border-right: 3px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: purple;
    font-size: 18px;
}

div.tab button.active {
    color: purple;
    border-right: 3px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: purple;
    font-size: 18px;
}


div.tab button:visited {
    color: purple;
    border-right: 3px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: purple;
    font-size: 18px;
}

/*.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 100%;
}*/

.SidebarElements {
height: 100%;
position: relative;
min-height: 100%;
height: 100vh;
}

.SidebarMenu {
    position: relative;
    padding-left: 0;
    height: 1940px;
    min-height: 100%;
}

.FirstSection{
    display: block;
}

.container {
margin-left: 0px;
padding-left: 0px;
}

.FirstSectionRow{
    min-height: 550px;
    overflow: hidden;
}

.investmentsRow {
    margin-top: 20px;
    overflow: auto;
}

.HorizontalScrollRow {
    overflow: auto;
    width: 100%;
}



.pageTitle {
text-align: center;
	padding-top: 8px;
	padding-bottom: 10px;
	font-size: 20px;
	letter-spacing: 9px;
    width:100%;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #5c0099;
}

.tablinks {
text-align: right;
padding-right: 15%
}

.sideMenuLines {
	margin-top: 0px;
	margin-bottom: 0px;
    border-width: 0.5px;
    border-color: rgb(210, 210, 210);
    border-style: solid;
    text-align: right;
    width: 100%;
    height: 0;
    padding-top: 0px;
}

.pageTitle:hover {
    cursor: pointer;
    color: #5c0099;
}

.HomeContainer {
    padding-left: 0%;
    padding-top: 10%;
    width: 100%;
}

.ImageDiv {
    padding-right: 40px;
    padding-bottom: 5px;
}

.HomeCantainerSub{
    margin-left: 10%;
}

.Logo {
    padding-top: 12px;
    padding-left: 30px;
}

.Description {
    /*padding-left: 280px;*/
    margin-top: 85px;
    width: 100%
}

.ImageSection {
  float: left;
}

.LinkedinLink{
    margin-right: 15px;
}

.TwitterIcon{
    width: 25px;
    height: 25px;
}

.LinkedinIcon{
    width: 25px;
    height: 25px;
}

.investments{
    overflow: auto;
}

.ArticlesRow {
    overflow: auto;
}

/*Horizontal scroll styles*/
.HorizontalScroll{
width:90%;
    height:50px;
    margin-bottom: 4%;
}

#list-container {
overflow:hidden;    
width: 93%;  
float:left;  
background: transparent;  
background-color: white !important;
}

.HorizontalList{
    background:white;
min-width:1400px;
    float:left;
}


#arrowR{
    width:20px;
    height:50px;
    float:right;
    cursor:pointer;
}


#arrowL{
    width:20px;
    height:50px;
    float:left;
    cursor:pointer;
}

.HorizontalItem{
    width:140px;
    height:40px;
    margin:5px;
    float:left;
    position:relative;
    background: transparent;
    background-color: white !important;
    text-decoration: none;
    text-decoration: underline;
    color: black;
    font-family: helvetica Neue; 
}

a{
    color: black;
}
/*Ends - Horizontal scroll styles*/

.HorizontalLine {
    color: black;
}

.SecondAuthoredArticle {
    margin-left: 0px;
}

.FirstArticleLine {
    margin-bottom: 10px;
    width: 70%;
    margin-top: 10px;
    margin-right: 0px;
    float: left;
}

.ArticleLineText {
    font-size: 12px;
    padding-left: 8px;
    margin-top: 10px;
}

.SecondArticleLine {
    margin-bottom: 10px;
    width: 75%;
    margin-top: 10px;
    margin-right: 0px;
    float: left;;    
}

.FirstArticleText{
    width: 68%;
}

.SecondArticleText {
   width: 68%;
}

/*Subscription screen*/
.SubscriptionScreen {
    background-image: url("../images/subscribe.jpg");
    height: 300px;
    width: 100%;
}

.SubscriptionText {
    text-align: center;
    font-size: 24px;
    padding-top: 80px;
    color: white;
}

.subscribe{
    background-color: transparent;
    border: 0;
    color: white;
    padding-right: 100px;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: underline;
}

.subscribe:hover {
    background-color: transparent;
    border: 0;
    color: white;
    padding-right: 100px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: underline;
}

.InputFields {
    padding-top: 30px;
    text-align: center;
}

.Template{
    margin-left: 23.8%;
}

.InputText {
    color: white;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    width: 80%;
}

.EmailText {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    width: 80%;
    color: white;
}

.SubscriptionScreenRow {
    margin-top: 30px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    clear: right;
}

/*Search Functionality*/
.footer {
clear: top;
height: 150px;
background-image: url("../images/world.jpg");
}

.SearchForm {
    padding-top: 10%;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
.form-control{width:20%}
.navbar-nav > li > a {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}
.navbar-nav:last-child{ border-right:0}

.footerLabelContainer{
    padding-top: 11.5%;
    text-align: center;
    width: 60%;
    padding-left: 100px;
}

.footerLabels{
    padding-left: 15px;
}

.footerLabels:hover {
    padding-left: 15px;
    font-size: 14px;
    text-decoration: none;
}

.Thought {
    font-family: helvetica Neue;
    font-size: 20px;
    line-height: 1.1;
    padding-bottom: 10px;
    padding-top: 31px;
    overflow: hidden;
    color: #5c0099;
    font-style: italic;
}

.MeetTheTeam {
    font-family: helvetica Neue;
    margin-bottom: 25px;
    color: #5c0099;
}

.Name{
    font-family: helvetica Neue; 
    font-size: 22px;
    margin-bottom: -10px;
}

.Designtion{
    font-family: helvetica Neue; 
    font-size: 18px;
}

.place{
    font-family: helvetica Neue
}

.contentText {
    padding-top: 20px;
    font-family: helvetica Neue; 
    font-size: 16px;
}

.InvestmentTitles {
    font-family: helvetica Neue; 
    font-weight: bold;
}

.AuthoredTitle{
    font-family: helvetica Neue; 
    font-weight: bold;
    font-size: 16px;
}

.InvestmentData{
    font-family: helvetica Neue; 
}

.input::placeholder {
    color: white;
}

.EmailText::placeholder {
    color: white;
    opacity: 0.5;
}

.InputText::placeholder {
    color: white;
    opacity: 0.5;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
    .HomeContainer {
        padding-left: 0%;
        padding-top: 2%;
        width: 100%;
    }

    .container-fluid {
        padding-left: 0;
    }

    .Template{
        margin-left: 0;
    }

    .SecondInvestmentTiles{
        padding-top: 10px;
    }

    .Designtion{
        font-size: 14px;
    }

    .ImageDiv {
        padding-right: 15px;
        padding-bottom: 5px;
    }

    .TwitterLink{
        float: none !important;

    }

    .LinkedinLink{
        float: left !important;
    }

    .TwitterIcon{
        width: 35px;
        height: 35px;
    }

    .LinkedinIcon{
        width: 35px;
        height: 35px;    
    }

    #list-container{
        width: 77%;
    }

    .FirstArticleLine{
        width: 80%;
    }

    .SecondArticleLine{
        width: 85%;
    }

    .Article1Photo {
        width: 100%;
    }

    .Article2Photo {
        width: 10px;
    }

    .EmailText{
        padding-top: 5px;
    }

    .footerLabels{
    font-size: 10px;
    padding-left: 22px;
    }

    .footerLabels:hover{
    font-size: 10px;
    }

    .footerLabelContainer{
        width: 100%; 
    }

    .footer {
        height: 100px;
        background: grey;
    }

    .footerLabelContainer{
        padding-left: 0;
        padding-top: 11.5%;
    }

    .SubscriptionScreenRow {
        width: 100vw;
    }

    .footer {
        width: 100vw;
    }

    .navbar-header{
        min-height: 100px;

    }

    .navbar-brand{
        margin-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .HeaderTitle{
        margin-top: 0;
        margin-top: 15px;
        text-decoration: none;
        color: purple;
        letter-spacing: 9px;
        padding-left: 10px;
        font-family: helvetica Neue; 
        font-weight: bold;
        font-size: 22px;
    }

    .HeaderTitle:hover, .HeaderSecondLine:visited{
        text-decoration: none;
    }

    .HeaderTitle:visited {
        text-decoration: none;
    }

    .HeaderTitle:active {
        text-decoration: none;
    }

    #header-nav{

    }

    .FirstArticleText, .SecondArticleText{
        width: 100%;
    }

    .navbar-form{
    padding: 0 0;
    margin: 0 0;
    border: 0;
    }

    .form {
        margin: 0;
        padding: 0;
        display: inline !important;
    }

    .input-group{
        width: 22%;
    }

    .SearchForm{
        display: inline;
    }

    #navbarToggle {
        float: right;
        margin-top: 0;
        border: none;
        margin-left: 333px;
    }

    .HeaderSecondLine{
        display: inline !important;
    }

    .Designtion {
        display: block;
    }

    #nav-list{
        opacity: 1;
    }

    .container-fluid{
        padding-right: 0;
    }


}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    .pageTitle {
        text-align: center;
        padding-top: 8px;
        padding-bottom: 10px;
        font-size: 18px;
        letter-spacing: 1px;
        width:100%;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        color: #5c0099;
    }

    .SecondInvestmentTiles {
        margin-top: 20px;
    }

    #list-container{
        width: 77%;
    }

        .Template{
        margin-left: 0;
    }

    .SecondInvestmentTiles{
        padding-top: 10px;
    }

    .Designtion{
        font-size: 14px;
    }

    .ImageDiv {
        padding-right: 15px;
        padding-bottom: 5px;
    }


    #list-container{
        width: 77%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
.pageTitle {
text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 3px;
    width:100%;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #5c0099;
}

    #list-container{
        width: 77%;
    }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
.pageTitle {
text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 8px;
    width:100%;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #5c0099;
}
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }